---
---

@import "jekyll-theme-cayman";

.project-name a {
color: #ffffff;
}

.project-name a:hover {
color: #f0ffff;
text-decoration: none;
}

.main-content h1 {
color: black;
font-weight:bold;
}

.main-content h2 {
color: black;
font-weight:bold;
}