---
---

@import "jekyll-theme-cayman";

body {
font-family: 'Merriweather', serif;
}

.page-header {
    color: #fff;
    text-align: center;
    background-color: #159957;
	background-image: url("https://boothlabs.com/testblog/files/backgroundImage_11.jpg");
// background-image: linear-gradient(120deg, #155799, #159957);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
	}

.project-name a {
font-family: 'Oswald', sans-serif;
color: #ffffff;
text-shadow: 1px 1px black;
}

.project-name a:hover {
color: #f0ffff;
text-decoration: none;
text-shadow: 1px 1px black;
}

.main-content h1 {
font-family: 'Oswald', sans-serif;
color: black;
font-weight:700;
}

.main-content h2 {
font-family: 'Oswald', sans-serif;
color: black;
font-weight:700;
}

.homelink {
color: #606c71;
text-decoration: underline;
}

.homelink a {
color: #606c71;
text-decoration: underline;
}

.homeink a:hover {
color: #f0ffff;
text-decoration: underline;
}

.homesource {
font-size: 14px;

}

.break {
text-align:center;
color:#6B6B6A;
margin-top:-20px;
margin-bottom:-20px;
}