---
---

@import "jekyll-theme-cayman";

body {
font-family: 'Merriweather', serif;
}

.project-name a {
font-family: 'Oswald', sans-serif
color: #ffffff;
}

.project-name a:hover {
color: #f0ffff;
text-decoration: none;
}

.main-content h1 {
font-family: 'Oswald', sans-serif;
color: black;
font-weight:700;
}

.main-content h2 {
font-family: 'Oswald', sans-serif;
color: 606c71;
font-weight:700;
}

.homelink {
color: black;
text-decoration: none;
}

.homelink a {
color: black;
text-decoration: none;
}

.homeink a:hover {
color: #f0ffff;
text-decoration: none;
}

.break {
text-align:center;
color:#6B6B6A;
margin-top:-20px;
margin-bottom:-20px;
}