---
---

@import "jekyll-theme-cayman";

body {
font-family: 'Merriweather', serif;
color: #373A3C;
line-height: 1.5;
}

p {
font-family: 'Merriweather', serif;
}

.page-header {
    color: #fff;
    text-align: center;
    background-color: #cdcdcd;
	background-image: url("https://boothlabs.com/testblog/files/backgroundImage_11.jpg");
// background-image: linear-gradient(120deg, #155799, #159957);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
	  @include large {
    padding: 1rem 6rem;
  }

  @include medium {
    padding: 1rem 4rem;
  }

  @include small {
    padding: 0rem 1rem;
	line-height: .75;
	}
	}

.project-name a {
font-family: 'Oswald', sans-serif;
text-transform: uppercase;
color: #ffffff;
text-shadow: 1px 1px black;
  @include large {
    font-size: 5.25rem;
  }

  @include medium {
    font-size: 4.25rem;
  }

  @include small {
    font-size: 3.75rem;
    line-height: .75;
	}
}

.project-name a:hover {
color: #f0ffff;
line-height: .75;
text-decoration: none;
text-transform: uppercase;
text-shadow: 1px 1px black;
  @include large {
    font-size: 5.25rem;
  }

  @include medium {
    font-size: 4.25rem;
  }

  @include small {
    font-size: 3.75rem;
	}
}


.project-tagline {
margin-top: 0rem;
font-family: 'Oswald', sans-serif;
text-transform: none;
font-size: 3.5rem;
color: #ffffff;
opacity: 0.9;
text-shadow: 1px 1px black;
  @include large {
    font-size: 3.25rem;
	margin-bottom: 1rem;
  }

  @include medium {
    font-size: 2.75rem;
	margin-bottom: 1rem;
  }

  @include small {
    font-size: 2rem;
	margin-bottom: 2rem;
	}
}

.main-content h1 {
font-family: 'Lato', sans-serif;
color: #373A3C;
font-weight:900;
}

.main-content h2 {
font-family: 'Lato',  sans-serif;
color: #373A3C;
font-weight:900;
}

.homelink {
color: #373A3C;
text-decoration: underline;
}

.homelink a {
color: #373A3C;
text-decoration: underline;
}

.homeink a:hover {
color: #f0ffff;
text-decoration: underline;
}

.homesource {
font-size: .75rem;
padding-bottom: -4px;
}

.break {
text-align:center;
color:#6B6B6A;
margin-top:-20px;
margin-bottom:-20px;
}