    {% include head.html %}
  <body>
    {% include title.html %}
	
    <main id="content" class="main-content" role="main">
		
	
{% for post in site.posts %}
  {% capture currentdate %}{{post.date | date: "%A, %B %d, %Y"}}{% endcapture %}
  {% if currentdate != thedate %}
    <h2>{{ currentdate }}</h2>
    {% capture thedate %}{{currentdate}}{% endcapture %} 
  {% endif %}
  <p>
	  <a style="color:black; text-decoration:none;" href="{% if post.link %}{{ post.link }}{% else %}{{ post.url }}{% endif %}"><strong>{{ post.title }}.</strong></a> {{ post.excerpt| remove: '<p>' | remove: '</p>' }} {% if post.link %}<span class="link-arrow">&#x1f517;</span>{% else %}<a href="{{ post.url }}"># </a>{% endif %}
  </p>
  <!-- p><a style="homelink" href="{{ post.url }}"><strong>{{ post.title }}.</strong></a> {{ post.excerpt| remove: '<p>' | remove: '</p>' }}<a href="{{ post.url }}"># </a></p -->
{% endfor %}

    {% include footer.html %} 
    </main>
	
  </body>
  </html> 
  
	 