    {% include head.html %}
  <body>
    {% include title.html %}
	
    <main id="content" class="main-content" role="main">
		
	
{% for post in site.posts %}
  {% capture currentdate %}{{post.date | date: "%A, %B %d, %Y"}}{% endcapture %}
  {% if currentdate != thedate %}
    <h2>{{ currentdate }}</h2>
    {% capture thedate %}{{currentdate}}{% endcapture %} 
  {% endif %}
   <p><strong>{{ post.title }}.</strong> {{ post.excerpt| strip_html }}<a href="{{ post.url }}"># </a></p>
{% endfor %}

    {% include footer.html %} 
    </main>
	
  </body>
  </html>
